<!DOCTYPE html>
<html>
	<head>
		<title>Error 404</title>
		<link rel="stylesheet" href="/stylesheets/style.css" />
		<link rel="stylesheet" href="https://fonts.googleapis.com/css2?family=Trispace&display=swap" />
	</head>
	<div class="404">
		<header class="404-header">
			<h1>Couldn't find that page!</h1>
		</header>

		<body class="404-body">
			<p>Error 404, could not find page.</p>
			<br />
			<a class="home-link" href="/" target="_self" rel="noopener noreferrer"> Go back home </a>
		</body>
	</div>
	<style>
		* {
			text-align: center;
		}
	</style>
</html>
