<!DOCTYPE html>
<html>
	<head>
		<title>URL Shortener</title>
		<script src="https://code.jquery.com/jquery-3.5.1.slim.min.js" integrity="sha384-DfXdz2htPH0lsSSs5nCTpuj/zy4C+OGpamoFVy38MVBnE+IbbVYUew+OrCXaRkfj" crossorigin="anonymous"></script>
		<script type="text/javascript" src="https://ajax.googleapis.com/ajax/libs/jquery/1.7.1/jquery.min.js"></script>
		<link rel="stylesheet" href="/stylesheets/style.css" />
		<link rel="stylesheet" href="https://fonts.googleapis.com/css2?family=Trispace&display=swap" />
		<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css" />
		<noscript>This website needs Javascript enabled to run</noscript>
	</head>
	<div class="index">
		<header>URL Shortener</header>
		<p>Paste in a link here, and the website will generate a shortened version of the link.</p>
		<br />
		<div class="form">
			<input id="url" class="form-url" placeholder="Paste a link here" />
			<button id="generate" class="btn" onclick="getKey()">Generate</button>
		</div>
		<br />
		<br />
		<div class="output">
			<input id="output" class="output-url" readonly="true" type="text" placeholder="The shortened link will output here" />
			<button id="copy" class="btn" onclick="copy()">Copy</button>
		</div>
	</div>
	<script>
		function copy() {
			var toCopy = document.getElementById('output');
			toCopy.select();
			toCopy.setSelectionRange(0, 99999);
			document.execCommand('copy');
			document.querySelector('#copy').innerHTML = 'Copied!';
			setTimeout(function () {
				document.querySelector('#copy').innerHTML = 'Copy';
			}, 5000);
		}

		function getKey() {
			document.querySelector('#generate').innerHTML = '<i class="fa fa-circle-o-notch fa-spin"></i>Loading';
			$.ajax({
				url: 'http://localhost:4761/new',
				data: { url: document.getElementById('url').value },
				type: 'POST',
				success: function (res) {
					document.querySelector('#generate').innerHTML = 'Generate';
					document.getElementById('output').value = window.location.hostname + '/' + res.key;
				},
				error: function (res) {
					alert('There was an issue shortening the link!');
				},
			});
		}
	</script>
</html>
